.container{
    width: 600px;
    border:solid 2px blue;
    margin:auto;
    padding:5px;
}



.kotak{
    width: 80px;
    height:80px;
    background-color: grey;
    color:white;
    text-align: center;
    line-height: 80px;
    font-size: 33px;
    margin:5px;
    float: left;
}
/* 
.kotak2{
    width: 80px;
    height:80px;
    background-color: pink;
    color:white;
    text-align: center;
    line-height: 80px;
    font-size: 33px;
    margin:5px;
    float: right;
} */